<h3><%= t 'blog_posts.title' %></h3>
<p><%= t 'blog_posts.description' %></p>
<a href='' id='blog_link' data-url="">Blog post</a>
<!--
<iframe id='blog_modal' class='hidden' src='https://filminginargentina.wordpress.com/2011/09/22/why-not-use-the-real-thing-x-men-confusion-on-argentina-location/'>
-->
