<!-- Community Management -->
<div class='row service'>
  <div class='col-md-6 col-sm-12'>
  </div>

  <div class='col-md-6 col-sm-12'>
    <h3><%= t 'community_management.title' %></h3>
    <p><%= t 'community_management.description' %></p>
  </div>
</div>
