<div class='row'>

  <div class='col-md-12' data-stellar-ratio="0.3">
    <h1>
      <%= t 'landing.title' %>
    </h1>
    <p class='subtitle'>
      <%= t 'landing.subtitle' %>
      <a href='#bio' target='_blank' title='<%= t 'landing.bio_tooltip' %>' data-toggle="modal" data-target="#bio">
        <span id="amy" data-toggle="tooltip" data-placement="bottom" title="<%= t 'landing.bio_tooltip' %>">
          Amy Ramirez
        </span>
      </a>
    </p>
    <a data-scroll href='#copywriting'>
      <i class="fa fa-arrow-down"></i>
    </a>
  </div><!-- .col-md- -->

</div><!-- .row -->
