<div class='row'>

  <div class='col-md-12 wow fadeIn'>
    <h1>
      <%= t 'landing.title' %>
    </h1>
    <p class='subtitle'><%= t 'landing.subtitle' %></p>
    <a data-scroll href='#copywriting'>
      <i class='fa fa-long-arrow-down hvr-wobble-vertical'></i>
    </a>
  </div><!-- .col-md- -->

</div><!-- .row -->
