<div class='section' id='ramingu'>
  <div class='main'>
    <h1>Ramingu Services</h1>
    <p>Copywriting &amp; Translations Services</p>
    <p>Fast and reliable</p>
  </div>
  <div class='footer'>
    <p>Contact me motherfucker</p>
  </div>
</div>
