<div id='translations' class='section'>
  <div class='row'>

    <div class='col-md-4 left'>
      <h1>Spot-on translations</h1>
      <ul>
        <li>Perfect translations from Spanish to English.</li>
        <li>Written by a native speaker, literature major and profesional copywriter.</li>
        <li>Fast and reliable.</li>
        <li>10$ per kilo of text.</li>
        <li>You can't go wrong on this one!</li>
      </ul>
    </div><!-- .col-md-6 -->

    <div class='col-md-8 right'>
      <h1>Ramingu Services</h1>
      <p>Copywriting &amp; Translations Services</p>
      <p>Fast and reliable</p>
    </div><!-- .col-md-6 -->

  </div><!-- .row -->
</div>
<div class='section' id='translations'>
  <div class='main'>
  </div>
  <div class='footer'>
    <p>Contact me motherfucker</p>
  </div>
</div>
