<div class='section' id='translations'>
  <div class='main'>
    <h1>Spot-on translations</h1>
    <p>Perfect translations from Spanish to English. From a Native Speaker, Literature major and Ninja profesional copywriter. You can't go wrong dude!</p>
  </div>
  <div class='footer'>
    <p>Contact me motherfucker</p>
  </div>
</div>
