<div id='page-content-wrapper'>
  <div class='container-fluid'>

    <div id='copylingual' class='section'>
      <%= render partial: 'landing' %>
    </div>

    <div id='copywriting' class='section'>
      <%= render partial: 'copywriting' %>
    </div>

    <div id='translation' class='section'>
      <%= render partial: 'translation' %>
    </div>

    <div id='music' class='section'>
      <%= render partial: 'music' %>
    </div>

  </div><!-- .container -->
</div><!-- #page-content-wrapper -->
