<div id='fullpage'>
  <div class='section'>
    <%= render partial: 'ramingu' %>
  </div>
  <div class='section'>
    <%= render partial: 'translations' %>
  </div>
  <div class='section'>
    <%= render partial: 'creative' %>
  </div>
</div>
