<div id='fullpage'>

  <div id='landing' class='section'>
    <%= render partial: 'landing' %>
  </div>

  <div id='copywriting' class='section'>
    <%= render partial: 'copywriting' %>
  </div>

  <div id='translation' class='section'>
    <%= render partial: 'translation' %>
  </div>

  <div class='footer'>
    <%= render partial: 'shared/footer' %>
  </div>

</div><!-- #fullPage -->
