$serif: 'Prata', sans-serif;
$sans: 'Roboto', serif;
$fancy-font: 'Lobster Two', cursive;

@mixin fading-hr {
  content: "";
  height: 1px;
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(147,147,147,1) 50%,rgba(0,0,0,0) 100%);
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

body {
  position: relative;
  font-family: $sans;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: $serif;
}

.navbar-brand {
  font-weight: bold;
}

.section-head {
  text-align: center;

  h1 {
    font-size: 60px;
  }

  p { 
    &:before { @include fading-hr; }

    font-size: 19px;
  }
}

.section {
  padding: 70px 20px 20px 40px;
  font-size: 16px;
  color: black;
  .col-md-6 {
    border-radius: 10px;
  }

  h3 {
    font-size: 20px;
  }
}

.subsection-title {
  /*margin: 10px 0 5px 0;*/
  text-align: center;
}

.mod {
  display: none;
}

#copylingual {
  height: 100vh;
  background-size: 100vw;
  text-align: center;
  h1 {
    font-weight: bold;
    margin-top: 30vh;
    font-size: 120px;
  }
  .subtitle {
    font-family: $fancy-font;
    font-style: italic;
    font-size: 25px;
  }
  i {
    margin: 20px;
    font-size: 75px;
    color: black;
    &:hover {
      color: gray;
    }
  }
}

#copywriting {
  background-size: 100vw;

  img {
    max-width: 100%;
    margin: 5px;
  }
}

#translation {
  background-size: 100vw;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
}

#bottom-fade {
  width: 100%;
  height: 125px;
  z-index: 99;
  position: fixed;
  bottom: 0;
  background-image: asset-url('fade.png');
}

.translation_missing  {
  color: tomato;
}

// Flags! From https://github.com/lipis/flag-icon-css

.flag-icon {
  position: relative;
  display: inline-block;
  width: 1em;
  line-height: 1em;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  filter: grayscale(0.7);

  &:hover {
    filter: grayscale(0);
  }
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}
.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon-us {
  background-image: asset-url('us.svg');
}
.flag-icon-ar {
  background-image: asset-url('ar.svg');
}
