$serif: 'Prata', serif;
$sans-serif: 'Roboto', sans-serif;
$fancy-font: 'Lobster Two', cursive;
$height: 300px;
$border: 1px dotted silver;
$border-radius: 5px;
$main-width: 1000px;
$bright-color: gold;
$text-color: #333;

@mixin fading-hr {
  content: "";
  height: 1px;
  background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(147,147,147,1) 50%,rgba(0,0,0,0) 100%);
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

body {
  position: relative;
  font-family: $sans-serif;
}

.container-fluid {
  /*max-width: $main-width;*/
}

.navbar-nav {
  i {
    margin-right: 5px;
  }
}

h1, h2, .navbar-brand {
  font-family: $serif;
}

.dropdown-menu {
  min-width: initial;
}

.navbar-brand {
  font-weight: bold;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  background: transparent;

  .container-fluid {
    background: white;
    /*box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);*/
  }
}

.section-head {
  height: $height;
  /*margin-right: -15px; // cancel out Bootstrap's .container-fluid padding*/
  /*margin-left: -15px; // cancel out Bootstrap's .container-fluid padding*/
  padding: 40px 0;
  background: rgb(228, 219, 174);
  /*background: rgba(255, 215, 0, 0.3); // gold + opacity*/
  /*background: transparent;*/

  text-align: center;

  h1 {
    /*display: inline-block;*/
    vertical-align: middle;
    margin-bottom: 20px;
    /*font-size: 60px;*/
    font-size: 6em;
  }

  p { 
    /*display: inline-block;*/
    vertical-align: middle;
    font-size: 19px;

    /*&:before { @include fading-hr; }*/
  }
}

.service {
  min-height: $height;
  margin: 0;
  padding: 40px;

  &:nth-of-type(even) {
    background: #EEE;
  }
  &:nth-of-type(odd) {
  }


  h4 {
    margin-top: 20px;
  }
}

.section {
  min-height: 100vh;
  /*padding: 70px 0px 20px 0px;*/
  margin: 0 -15px;
  font-size: 15px;
  color: black;
  .col-md-6 {
    border-radius: 10px;
  }

  h3 {
    margin-top: 0;
    font-family: $sans-serif;
    font-size: 30px;
  }
  h4 {
    font-size: 16px;
    font-weight: bold;
    font-variant: small-caps;
  }
}

.subsection-title {
  /*margin: 0 -15px;*/
  margin: 0;
  padding: 15px 0;
  background: lighten($bright-color, 40%);
  text-align: center;
}

.footer {
  margin: 0 -15px;
  padding-bottom: 80px;
  background: $text-color;
  color: lighten($bright-color, 40%);

  h1, i {
    color: $bright-color;
  }
  
  i, button {
    float: right;
  }

  form button {
    background-color: $bright-color;
    color: #222;
    font-weight: bold;
    &:hover {
      background-color: lighten($bright-color, 40%);
    }
  }

  #mail {
    font-family: monospace;
  }
}

.popup-gallery {
  margin: 15px 0;
  text-align: center;

  a:not(:first-child) {}
  a {
    &:not(:first-of-type) {
      display: none;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

.thumbnail {
  display: inline-block;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

.thumbnail-help {
  background: gold;
  max-width: 100%;
  max-height: 100%;
}

.greyed-out {
  filter: grayscale(0.9);

  &:hover {
    filter: grayscale(0);
  }
}

.big-modal {
  height: 90vh;
}

#bio {
  #amy { font-family: $fancy-font; }

  .modal-dialog {
    width: 700px;
  }

  .modal-header {
    border-radius: $border-radius $border-radius 0 0;
    background: $bright-color;
  }

  .modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;

    .portrait, .story {
      flex: 1;
      padding: 25px;
    }

    .story {
      text-align: justify;
    }

    img {
      max-width: 100%;
      border-radius: $border-radius;
    }
  }
}

button:hover {
  background-color: gold;
}

.credits {
  font-size: 12px;
  color: gray;
  margin: 5px;
  padding-left: 10px;
  border-left: 2px solid #EAEAEA;
}

.hidden {
  display: none;
}

.mfp-iframe {
  border: 2px solid silver;
  border-radius: $border-radius;
}

img.mfp-img { // Specificity war against the plugin #shame
  max-width: 90%;
}

#copylingual {
  height: 100vh;
  background-size: 100vw;
  text-align: center;
  h1 {
    font-weight: bold;
    margin-top: 30vh;
    font-size: 120px;
  }
  .subtitle {
    font-family: $fancy-font;
    font-style: italic;
    font-size: 25px;
  }
  a {
    &:hover, &:link, &:visited, &:active {
      text-decoration: none;
    }
  }
  a[href='#bio'] {
    color: inherit;
    border-bottom: 1px dashed gray;
  }
  a[href='#copywriting'] {
    margin: 20px;
    font-size: 75px;
    color: black;
  }
}

#copywriting {
}

#translation {
}

#music {
}

#bottom-fade {
  width: 100%;
  height: 125px;
  z-index: 99;
  position: fixed;
  bottom: 0;
  background-image: asset-url('fade.png');
}

.translation_missing  {
  color: tomato;
}

.alert {
  display: none;
  font-weight: bold;
}

// Flags! From https://github.com/lipis/flag-icon-css

.flags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
  text-align: center;

  i {
    font-size: 100px;
    color: #CCC;
  }
}

.flag-icon {
  flex: 1;
  position: relative;
  display: inline-block;
  width: 120px;
  line-height: 90px;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}
.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon-us {
  background-image: asset-url('us.svg');
}
.flag-icon-ar {
  background-image: asset-url('ar.svg');
}
