.sidebar-nav {
  border: initial !important; // remove bootstrap
  position: absolute;
  top: 0;
  width: $sidebar-width;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    text-indent: 20px;
    line-height: 40px;
    float: initial !important; // remove bootstrap

    &.subitem {
      margin-left: 20px;
      a {
        line-height: 0.75;
      }
    }

    a {

      display: block;
      text-decoration: none;
      color: #DDD;
      border: initial !important; // remove bootstrap
      margin: initial !important; // remove bootstrap
      border-radius: initial !important; // remove bootstrap

      &:hover {
        text-decoration: none;
        color: initial;
        background: rgba(255,255,255,0.2);
      }

      &:focus {
        /*background: initial !important; // remove bootstrap*/
      }
    }
  }

}

@media(min-width:768px) {

  #sidebar-wrapper {
    width: $sidebar-width;
  }

  #page-content-wrapper {
    position: relative;
  }

}
